/* import dependencies */
@import 'components/_social-buttons';

.job-apply-wrapper {
	box-sizing: border-box;
	
	.portlet {
		background: #fff;
	}
	

	.brand.container {
		width: 100%;
	}

	.container {
		width: 50%;
	}

	.brand {
		padding: 10px;
		border-bottom: 1px solid #e5e5e5;
		position: relative;
	   	min-height: 75px;
	   	margin-bottom: 20px;
	}

	.brand img {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.setting {
		border-bottom: 1px solid #e5e5e5;
	}

	.setting .glyphicon-cog {
		opacity: 0.8;
	}

	/* For multi column dropdowns */
	.dropdown-menu {
		min-width: 200px;
	}
	.dropdown-menu.columns-2 {
		min-width: 400px;
	}
	.dropdown-menu.columns-3 {
		min-width: 600px;
	}
	.dropdown-menu li a {
		padding: 5px 15px;
		font-weight: 300;
	}
	.multi-column-dropdown {
		list-style: none;
	  margin: 0px;
	  padding: 0px;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #333;
		white-space: normal;
	}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #262626;
		background-color: #999;
	}
	 
	@media (max-width: 767px) {
		.dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;
		}
	}


	/* Social media logins */
	.social-login {
		margin: 10px auto;
	}

	/* Progress bar */
	.progress-step {
		border: 1px solid red;
		overflow: hidden;
		
	}

	.progress-step ul {
		position: relative;
	}

	.progress-step li {
	        text-align: center;
			display: inline-block;
			float: left;
			width: 25%;
			border: 1px solid navy;
	}

	.progress-step li a {
		width: 40px;
		height: 40px;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		line-height: 40px;
		background: #e5e5e5;
		border: 1px solid #ccc;
		border-radius: 50%;
		color: #ccc;
		z-index: 10;

	}

	.progress-step li:after {
		position: absolute;
		top: 20px;
		content: '';
		display: inline-block;
		height: 3px;
		width: 25%;
		background: green;
		transform: translateX(-50%);
		z-index: -5;

	}

	.progress-step li:first-child:after { 
		background: red;
	}



	/* Form content */
	.form-content {
		border: 1px solid #e5e5e5;	
		margin: 10px auto;
		xbox-shadow: 0px 2px 10px #ccc;
	}

	.form-content .form-footer {
		border-top: 1px solid #e5e5e5;
		min-height: 75px;
		padding-top: 30px;
		.ft-item {
			margin: 0 5px;
		}
	}

	/* Controls for responsive layout */
	@media only screen and (max-width: 767px) {
		.container {
			width: 100%;
		}
	}
}