
.btn-linkedin {
	background: #007bb6;
	color: #fff !important;
	border-right: 1px solid rgba(0,0,0,0.2);	
	opacity: 0.8;
}

.btn-linkedin:hover {
	background: #006ea5;	
}

.btn-xing:hover,
.btn-linkedin:hover {
	color: #fff;	
}

.btn-xing {
	background: #006567;
	color: #fff !important;
	opacity: 0.8;
}

.btn-xing:hover {
	background: #027070;	
}