/* import dependencies */
.btn-linkedin {
  background: #007bb6;
  color: #fff !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.8; }

.btn-linkedin:hover {
  background: #006ea5; }

.btn-xing:hover,
.btn-linkedin:hover {
  color: #fff; }

.btn-xing {
  background: #006567;
  color: #fff !important;
  opacity: 0.8; }

.btn-xing:hover {
  background: #027070; }

.main-bg-color {
  background: #E74C3C !important; }

.job-apply-wrapper {
  box-sizing: border-box;
  /* For multi column dropdowns */
  /* Social media logins */
  /* Progress bar */
  /* Form content */
  /* Controls for responsive layout */ }
  .job-apply-wrapper .portlet {
    background: #fff; }
  .job-apply-wrapper .brand.container {
    width: 100%; }
  .job-apply-wrapper .container {
    width: 50%; }
  .job-apply-wrapper .btn-bite {
    background: #E74C3C !important;
    color: #fff; }
  .job-apply-wrapper .btn-bite:hover {
    background: #d83d2f !important;
    color: #fff; }
  .job-apply-wrapper .brand {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    min-height: 75px;
    margin-bottom: 20px; }
  .job-apply-wrapper .brand img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .job-apply-wrapper .setting {
    border-bottom: 1px solid #e5e5e5; }
  .job-apply-wrapper .setting .glyphicon-cog {
    opacity: 0.8; }
  .job-apply-wrapper .dropdown-menu {
    min-width: 200px; }
  .job-apply-wrapper .dropdown-menu.columns-2 {
    min-width: 400px; }
  .job-apply-wrapper .dropdown-menu.columns-3 {
    min-width: 600px; }
  .job-apply-wrapper .dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300; }
  .job-apply-wrapper .multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .job-apply-wrapper .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal; }
  .job-apply-wrapper .multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999; }
  @media (max-width: 767px) {
    .job-apply-wrapper .dropdown-menu.multi-column {
      min-width: 240px !important;
      overflow-x: hidden; } }
  .job-apply-wrapper .social-login {
    margin: 10px auto; }
  .job-apply-wrapper .progress-step ul {
    position: relative; }
  .job-apply-wrapper .progress-step li {
    text-align: center;
    display: inline-block;
    float: left;
    width: 25%;
    xborder: 1px solid navy;
    position: relative; }
  .job-apply-wrapper .progress-step li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    background: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    z-index: 10; }
  .job-apply-wrapper .progress-step li:after {
    position: absolute;
    top: 20px;
    content: '';
    display: inline-block;
    height: 3px;
    width: 100%;
    background: green;
    xtransform: translateX(-50%);
    z-index: -5;
    background: #ccc; }
  .job-apply-wrapper .progress-step li.active:after,
  .job-apply-wrapper .progress-step li a.active {
    background: #E74C3C;
    color: #fff; }
  .job-apply-wrapper .progress-step li a.active {
    xborder: 2px solid #fff; }
  .job-apply-wrapper .progress-step li:last-child:after {
    background: none; }
  .job-apply-wrapper .form-content {
    border: 1px solid #e5e5e5;
    margin: 10px auto;
    display: none; }
    .job-apply-wrapper .form-content.is-current {
      display: block; }
  .job-apply-wrapper .form-content .form-footer {
    border-top: 1px solid #e5e5e5;
    min-height: 75px;
    padding-top: 30px; }
    .job-apply-wrapper .form-content .form-footer .ft-item {
      margin: 0 5px; }
  .job-apply-wrapper .top-gap {
    margin-top: 10px !important; }
  @media only screen and (max-width: 767px) {
    .job-apply-wrapper .container {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
