<div class="job-apply-wrapper">
	<div class="brand container ">
		<img src="assets/images/bite_logo.png" title="BITE GmbH">
	</div>

	<div class="setting container portlet">
		<div class="row">
			<div class="col-md-11">
				<h3>Angular JS Developer in Ulm</h3>
			</div>
			<div class="col-md-1">
				
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            	<h3><i class="glyphicon glyphicon-cog"></i></h3>
	            </a>
	            <ul class="dropdown-menu dropdown-menu-right multi-column columns-3">
		            <div class="row">
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            
					            <li><a>Page Contrast</a></li>
					            <li><a class="glyphicon glyphicon-th-large"></a></li>

					            <li class="divider"></li>
					            <li><a>Zoom Level</a></li>
					            <li>
					            	<a class="glyphicon glyphicon-plus"></a> 
									<a class="glyphicon glyphicon-minus"></a>
					            </li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><a>Tools </a></li>
					            <li><a class="glyphicon glyphicon-pause"></a></li>

					            <li class="divider"></li>
					            <li><a>Help </a></li>
					            <li>
					            	<a class="glyphicon glyphicon-question-sign"></a> 
					            </li>
				            </ul>
			            </div>
			            <div class="col-sm-4">
				            <ul class="multi-column-dropdown">
					            <li><a>Language </a></li>
					            <li><a class="glyphicon glyphicon-caret"> Language selector </a></li>
				            </ul>
			            </div>
		            </div>
	            </ul>
			</div>	
		</div>
		
		
	</div>

	<div class="social-login container">
		<div class="row">
			<div class="col-md-6">
				 <a class="btn btn-block  btn-linkedin">
			       <span><i class="fa fa-linkedin"></i></span>  Sign in with LinkedIn
			     </a>
			</div>
			<div class="col-md-6">
				 <a class="btn btn-block btn-social btn-xing">
			        <i class="fa fa-xing"></i> Sign in with Xing
			     </a>
			</div>
		</div>
	</div>

	<div class="progress-step container">
		<div class="row">
		<ul>
			<li class="active"><a class="step active">1</a></li>
			<li ><a class="step ">2</a></li>
			<li ><a class="step">3</a></li>
			<li ><a class="step">4</a></li>
		</ul>
		</div>
	</div>
	<div class="form-content container">
		<div class="row">
		<div class="col-md-6">
		<form action="" method="post" id="fileForm" role="form">
		           
		            <h3> {{fromGroup1Heading}}
		            </h3>
		            <ng-template #formGroup1></ng-template>
		  
		            
		</form>			
		</div>
		<div class="col-md-6">
		<form action="" method="post" id="fileForm" role="form">
		            
		            <h3>  {{fromGroup2Heading}}
		            </h3>
		            <ng-template #formGroup2></ng-template>
		            
		</form>			
		</div>
		</div>
		<div class="form-footer">
		<div class="row pull-right">
			<div class="col-md-12">
				
					<a href="" class="ft-item">Back</a>
					<button type="button" class="btn btn-default ft-item">Preview</button>   
					<button type="button" class="btn btn-default ft-item">Save as draft</button>    
					<button type="button" class="btn btn-bite ft-item ">Next</button>
			</div>
		</div>
		</div> 
	</div>
</div>
