<header>
BITE Logo
</header>

<section class="setting">
<h3>Job Title</h3>
<div class="setting-control"> setting control</div>    
</section>

<section class="progress-bar">
<div>
     <span class="badge step">1</span>
     <span class="badge step">2</span>
     <span class="badge step">3</span>
     <span class="badge step">4</span>
    
</div>
<div class="form-content">
Form fields
</div>
<div class="form-footer">
<a href="">Back</a>
<button type="button" class="btn btn-default">Preview</button>   
<button type="button" class="btn btn-default">Save as draft</button>    
<button type="button" class="btn btn-success">Next</button>
</div>    
</section>